*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Bricolage Grotesque", sans-serif;
}

body{
    background-color: #e7e7e7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h2{
    margin-bottom: 1rem;
}

.pageTitle{
    color: #1ED760;
    text-align: center;
    padding: 1rem;
    border-radius: 1rem;
    background-color: #ffffffd1;
    margin: 1rem auto;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.137);
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
    margin: 0 3rem;
}

.lista{
    background-color: #ffffffd1;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.137);
}

.tops{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1.5rem;
}

.tops div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerImgTopArtista{
    position: relative;
    width: 300px;
    height: 150px;
    border-radius: 1rem;
}

.containerImgTopArtista img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: inherit;
}

.containerImgTopArtista .textoTopArtista{
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
    text-align: center;
    font-size: 2rem;
    font-weight: 900;
    color: #ffffff;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
}

.containerImgTopArtista .textoTopArtista p:nth-child(2){
    font-size: 1rem;
}

.topGenero{
    border: 1px solid #f00fff;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    color: #ffffff;
    width: 300px;
    height: 150px;
    text-align: center;
    align-content: center;
    text-transform: capitalize;
    font-size: 2rem;
    font-weight: 900;
    border-radius: 1rem;
}

.table{
    border-collapse: collapse;
    width: 100%;
    height: 90%;
}

.table tbody tr:nth-child(1){
    font-weight: 700;
    background-color: #c7f5d8;

    &:hover{
        background-color: #b3ddc2;
    }
}

.table tbody tr:hover{
    background-color: #e7e7e7;
}

.table tbody tr:last-of-type{
    background-color: #ffd1d1;

    &:hover{
        background-color: #ebc1c1;
    }
}

.table thead{
    text-align: left;
    background-color: #1ED760;
    color: #ffffffd1;
}

.table td, .table th{
    padding: .25rem .6rem;
    border: 1px solid #0000006b;
}

.tableGeneros thead tr{
    text-align: center;
}

@media (max-width: 768px) {
    body{
        height: auto;
    }

    .listaArtistas, .listaGeneros{
        width: 100%;
    }

    .listaGeneros{
        margin-bottom: 1rem;
    }

    .table{
        height: auto;
    }
}


@media (min-width: 1024px){
    .container{
        display: grid;
        grid-template-areas: 
        "tops tops tops"
        "listaArtistas listaArtistas listaGeneros";
        justify-content: unset;

        width: 70vw;
    }

    .tops{
        grid-area: tops;
    }

    .listaArtistas{
        grid-area: listaArtistas;
    }

    .listaGeneros{
        grid-area: listaGeneros;
    }
}